<div class="container">
  <h1 class="text-center mt-4">Article List</h1>
  <div class="d-flex justify-content-center my-2">
    <% if logged_in? %>
      <%= link_to 'Create new article', new_article_path, class: "btn btn-success justify-content-center" %>
    <% end %>
  </div>
  <div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
  </div>
  <%= render 'articles/article' %>
  <div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
  </div>
</div>